.add-button {
  background-color: rgb(48, 48, 48);
  color: white;
  border: none;
  padding: 10px 14px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

.add-button:hover {
  background-color: black;
}

.inventory-action-button {
  padding: 6px 10px;
  margin-right: 6px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 13px;
}

.inventory-action-button.delete {
  background-color: #ef4444;
  color: white;
}

.inventory-action-button:not(.delete) {
  background-color: #027339;
}

.inventory-action-button.delete:hover {
  background-color: #dc2626;
}

/* MODAL */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background-color: rgb(227, 227, 227);
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.modal h2 {
  margin-bottom: 20px;
}

/* STATUS BADGES */

.status {
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: 600;
}

.status.good {
  background-color: #d1fae5;
  color: #065f46;
}

.status.low {
  background-color: #fef3c7;
  color: #92400e;
}

.status.out {
  background-color: #fee2e2;
  color: #991b1b;
}

/* TABLE POLISH */

.inventory-panel table {
  background-color: white;
  border-collapse: collapse;
  border-radius: 8px;
  box-shadow: 0 2px 6px #6b7280;
  padding: 20px;
}

.inventory-panel th {
  color: white;
  background-color: rgb(33, 33, 33);
  font-weight: 600;
}


.inventory-panel tbody tr:hover {
  color: white;
  background-color: #545454;
}

/* ACTION MENU */

.dots-button {
  background: none;
  color: #000;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.action-menu {
  position: absolute;
  right: 10px;
  top: 25px;
  background-color: white;
  border: 1px solid #ffffff;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  display: none;
  z-index: 1000;
}

.action-menu button {
  display: block;
  width: 100%;
  padding: 8px 12px;
  border: none;
  background: none;
  text-align: left;
  cursor: pointer;
}

.action-menu button:hover {
  background-color: #000000;
  border-radius: 6px;
  color: white;
}

/* Show menu on hover */
td:hover .action-menu {
  display: block;
}


.inventory-stats-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 30px;
}
