.stat-card {
  background-color: #3e99fa;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.stat-card h3 {
  margin-bottom: 10px;
  color: #374151;
}

.stat-card span {
  color: #6b7280;
  font-size: 13px;
}

.panel {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 6px #6b7280;
}

.panel h3 {
  margin-bottom: 15px;
}

.panel table {
  border-collapse: collapse;
}

.panel th {
  border-bottom: 1px solid #ddd;
}

.tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.tab {
  padding: 10px 16px;
  border: none;
  color : black;
  background-color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  box-shadow: #6b7280 0px 2px 6px;
}

.tab.active {
  background-color: #262627;
  color: white;
}

.tab:hover {
  background-color: black;
  color: white;
}
